$search-background-color: #222222;
$search-input-background-color: #50C594;
$user-board-background: #FAA38C;
$repo-card-background: #FAA731;
$modal-background: rgba(0, 0, 0, 0.75);


// Used for user card and repo board background
$white: #F8F8F8;

